@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: flex;
  float: left;
  flex-flow: column nowrap;
  margin: auto;
  width: 100%;
  height: min-content;
}

$padding: rl(22.5px);
$titleHeight: rl(37.5px);
$bodyHeight: calc(#{$padding} * 2 + #{rl(24px)});

.question {
  display: block;
  transition: height 0.2s linear;
  height: $titleHeight;
  overflow: hidden;
  width: 100%;

  & + & {
    margin-top: $titleHeight;
  }

  &_titleContainer {
    display: block;
    width: 100%;
    height: $titleHeight;
    float: left;
    cursor: pointer;
  }

  &_title {
    display: inline;
    vertical-align: middle;
    font-size: rl(28.5px);
    color: white;
    font-weight: 600;
  }

  &_answer {
    display: block;
    float: left;
    height: calc(100% - #{$titleHeight});
    width: 100%;
    max-height: min-content;
    font-size: rl(26px);
    color: $blueHeavy;
    font-weight: 600;
    padding: $padding 0;
  }

  &[active] {
    height: $titleHeight + $bodyHeight;
  }
}
