.contentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.info {
  display: block;
  width: max-content;
  max-width: 800px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}

$inputPadding: 20px;
$inputBorder: 4px;
$inputBorderRadius: 5px;

.form {
  display: block;
  width: 100%;
  max-width: 800px;

  &_label {
    display: block;
    position: absolute;
    top: $inputPadding;
    left: $inputPadding;
    width: max-content;
    height: min-content;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  &_input {
    display: block;
    float: left;
    height: min-content;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: $inputBorderRadius;
    border: none;
    box-shadow: 7px 7px 10px 0px #3f727f;
    cursor: text;
    border-bottom: $inputBorder solid white;
    overflow: hidden;

    width: 100%;
    padding: $inputPadding;

    & + [class='outline'] {
      display: block;
      width: 0;
      height: $inputBorder;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &:focus {
      outline: none;

      & + [class='outline'] {
        transition: width 0.3s ease;
        background-color: blue !important;
        width: 100%;
      }

      & ~ label {
        transform: translate(-10px, calc((30% + #{$inputPadding}) * -1)) scale(0.9);
      }
    }

    &::placeholder {
      opacity: 0;
    }

    &:not(:placeholder-shown) ~ label {
      transform: translate(-10px, calc((30% + #{$inputPadding}) * -1)) scale(0.9);
    }

    &[error] + [class='outline'] {
      transition: width 0.3s ease;
      background-color: red;
      width: 100%;
    }

    &__text {
      
    }

    &__textarea {
      overflow-y: auto;
      resize: none;
    }
  }

  &_submit {
    display: block;
    float: right;
    width: 150px;
    height: 80px; 
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #3f727f;
    font-weight: 600;
    font-size: 24px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
  }

  &_block {
    z-index: 0;
    display: block;
    position: relative;
    width: 100%;
    height: min-content;
    float: left;

    &__name {
      width: 45%;
    }

    &__email {
      width: 45%;
      float: left;
      margin-left: 10%;
    }

    &__subject {
      margin-top: 50px;
    }

    &__message {
      margin-top: 50px;
    }
  }
}
