@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}

.info {
  display: block;
  width: max-content;
  max-width: rl(800px);
  margin-bottom: rl(45px);
  font-size: rl(30px);
  font-weight: 600;
  line-height: 1.5;
}

$inputPadding: rl(15px);
$inputBorder: rl(3.75px);
$inputFontSize: rl(18px);

.form {
  display: block;
  float: left;
  width: 100%;
  max-width: rl(600px);

  &_label {
    display: block;
    position: absolute;
    top: calc(#{$inputFontSize} + (#{$inputBorder} / 2));
    left: $inputPadding;
    width: max-content;
    height: min-content;
    font-size: $inputFontSize;
    font-weight: 600;
    transition: all 0.2s ease;
    color: $blueHeavy;
  }

  &_outline {
    display: block;
    transition: width 0.2s, background-color 0.5s;
    width: 0;
    height: $inputBorder;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius:  $borderRadiusPrimary;
    border-bottom-right-radius:  $borderRadiusPrimary;
  }

  &_input {
    display: block;
    float: left;
    height: min-content;
    font-size: $inputFontSize;
    font-weight: 600;
    line-height: 1.5;
    border-radius: $borderRadiusPrimary;
    border: none;
    cursor: text;
    border-bottom: $inputBorder solid white;
    overflow: hidden;

    width: 100%;
    padding: $inputPadding;

    &:focus {
      outline: none;

      & + [class*='outline'] {
        background-color: $blueMedium;
        width: 100%;
      }

      & ~ label {
        transform: translate(rl(-7.5px), calc((30% + #{$inputPadding}) * -1)) scale(0.8);
      }
    }

    &::placeholder {
      opacity: 0;
    }

    &:not(:placeholder-shown) ~ label {
      transform: translate(rl(-7.5px), calc((30% + #{$inputPadding}) * -1)) scale(0.8);
    }

    &[error] + [class*='outline'] {
      background-color: $errorColor;
      width: 100%;
    }

    &__textarea {
      overflow-y: auto;
      resize: none;

      & + [class*='outline'] {
        height: calc($inputBorder + rl(1px));
      }
    }
  }

  &_submit {
    display: block;
    float: right;
    width: rl(112.5px);
    height: rl(60px); 
    text-align: center;
    border-radius: rl(7.5px);
    border: none;
    font-weight: 600;
    font-size: rl(19.5px);
    margin-top: rl(37.5px);
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  &_block {
    z-index: 0;
    display: block;
    position: relative;
    width: 100%;
    height: min-content;
    float: left;

    &__name {
      width: 45%;
    }

    &__email {
      width: 45%;
      float: left;
      margin-left: 10%;
    }

    &__subject {
      margin-top: rl(37.5px);
    }

    &__message {
      margin-top: rl(37.5px);
    }
  }
}

@keyframes showInfo {
  to {
    opacity: 1;
  }
}

.showInfo {
  animation: showInfo 1s ease 0s 1 normal forwards !important;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide {
  animation: hide 1s ease 0s 1 normal both; 
}

$infoPadding: rl(15px);
$width: rl(322.5px);
.info {
  display: block;
  position: absolute;
  top: rl(22.5px);
  right: 0;

  width: $width;
  height: min-content;
  opacity: 0;
  border-radius: $borderRadiusPrimary;
  padding: $infoPadding;

  &[success] {
    background-color: #287b28;
    @extend .hide;
  }

  &[success=active] {
    @extend .showInfo;
  }

  &[error] {
    background-color: lighten($errorColor, 10%);
    @extend .hide;
  }

  &[error=active] {
    @extend .showInfo;
  }

  &[sending] {
    background-color: #11314e;
    @extend .hide;
  }

  &[sending=active] {
    @extend .showInfo;
  }

  &_content {
    display: inline-block;
    max-width: calc(80% - #{$infoPadding} * 3);
    margin-left: $infoPadding;
  }

  &_title {
    display: block;
    font-size: rl(22.5px);
    color: white;
  } 

  &_message {
    display: block;
    margin-top: rl(7.5px); 
    font-size: rl(18px);
    color: white;
  }

  $iconSize: 20%;
  &_icon {
    display: inline-block;
    vertical-align: top;
    width: $iconSize;
    height: $iconSize;

    $size: calc(#{$width} * 0.2);
    & .lds-default, & > * {
      display: block;
      width: $size;
      height: $size;
    }
  }
}

////////////////////portrait////////////////////////////
////////////////////////////////////////////////////////@include



@media (orientation: portrait) {
  .contentContainer {
    display: block;
    position: relative;
    width: max-content;
    margin: auto;
  }

  .info {
    display: block;
    width: max-content;
    max-width: rp(800px * 1.5);
    margin-bottom: rp(45px * 1.5);
    font-size: rp(30px * 1.5);
    font-weight: 600;
    line-height: 1.5;
  }

  $inputPadding: rp(15px * 1.5);
  $inputBorder: rp(3.75px * 1.5);
  $inputFontSize: rp(18px * 1.5);

  .form {
    display: block;
    float: left;
    width: 100%;
    max-width: rp(600px * 1.5);

    &_label {
      display: block;
      position: absolute;
      top: calc(#{$inputFontSize} + (#{$inputBorder} / 2));
      left: $inputPadding;
      width: max-content;
      height: min-content;
      font-size: $inputFontSize;
      font-weight: 600;
      transition: all 0.2s ease;
      color: $blueHeavy;
    }

    &_outline {
      display: block;
      transition: width 0.2s, background-color 0.5s;
      width: 0;
      height: $inputBorder;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom-left-radius:  $borderRadiusPrimary;
      border-bottom-right-radius:  $borderRadiusPrimary;
    }

    &_input {
      display: block;
      float: left;
      height: min-content;
      font-size: $inputFontSize;
      font-weight: 600;
      line-height: 1.5;
      border-radius: $borderRadiusPrimary;
      border: none;
      cursor: text;
      border-bottom: $inputBorder solid white;
      overflow: hidden;

      width: 100%;
      padding: $inputPadding;

      &:focus {
        outline: none;

        & + [class*='outline'] {
          background-color: $blueMedium;
          width: 100%;
        }

        & ~ label {
          transform: translate(rp(-7.5px * 1.5), calc((30% + #{$inputPadding}) * -1)) scale(0.8);
        }
      }

      &::placeholder {
        opacity: 0;
      }

      &:not(:placeholder-shown) ~ label {
        transform: translate(rp(-7.5px * 1.5), calc((30% + #{$inputPadding}) * -1)) scale(0.8);
      }

      &[error] + [class*='outline'] {
        background-color: $errorColor;
        width: 100%;
      }

      &__textarea {
        overflow-y: auto;
        resize: none;

        & + [class*='outline'] {
          height: calc($inputBorder + rp(1px * 1.5));
        }
      }
    }

    &_submit {
      display: block;
      float: right;
      width: rp(112.5px * 1.5);
      height: rp(60px * 1.5); 
      text-align: center;
      border-radius: rp(7.5px * 1.5);
      border: none;
      font-weight: 600;
      font-size: rp(19.5px * 1.5);
      margin-top: rp(37.5px * 1.5);
      color: white;
      cursor: pointer;
      transition: background-color 0.5s;
    }

    &_block {
      z-index: 0;
      display: block;
      position: relative;
      width: 100%;
      height: min-content;
      float: left;

      &__name {
        width: 45%;
      }

      &__email {
        width: 45%;
        float: left;
        margin-left: 10%;
      }

      &__subject {
        margin-top: rp(37.5px * 1.5);
      }

      &__message {
        margin-top: rp(37.5px * 1.5);
      }
    }
  }

  $infoPadding: rp(15px * 1.5);
  $width: rp(322.5px * 1.5);
  .info {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: $width;
    height: min-content;
    opacity: 0;
    border-radius: $borderRadiusPrimary;
    padding: $infoPadding;

    &_content {
      display: inline-block;
      max-width: calc(80% - #{$infoPadding} * 3);
      margin-left: $infoPadding;
    }

    &_title {
      display: block;
      font-size: rp(22.5px * 1.5);
      color: white;
    } 

    &_message {
      display: block;
      margin-top: rp(7.5px * 1.5); 
      font-size: rp(18px * 1.5);
      color: white;
    }

    $iconSize: 20%;
    &_icon {
      display: inline-block;
      vertical-align: top;
      width: $iconSize;
      height: $iconSize;

      $size: calc(#{$width} * 0.2);
      & .lds-default, & > * {
        display: block;
        width: $size;
        height: $size;
      }
    }
  }
}

