.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.contact {
  display: block;

  &_row {
    display: block;
    float: left;

    & + & {
      margin-top: 30px;
    }
  }

  &_title {
    display: block;
    float: left;
    font-size: 32px;
    font-weight: 600;
  }

  &_text {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 32px;
    font-weight: 500;
  }
}

.modalButton {
  display: block;
  background: linear-gradient(-45deg, #996FBB 5%, rgba(109, 69, 173, 0) 100%);
  font-size: 32px;
  font-weight: 500;
  border-radius: 20px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.modalContainer {
  position: fixed;
  display: block;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: -1;
  background-color: rgb(128,128,128, 0.6);
  overflow: hidden;
}

.modal {
  display: block;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: block;
  float: left;
  width: 100%;
  height: max-content;

  &_label {
    display: block;
    float: left;
    width: 100%;
    height: min-content;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &_input {
    display: block;
    float: left;
    height: min-content;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 7px 10px 0px rgba(14, 70, 25, 0.473);

    &:focus {
      outline: none;
    }

    &__email {
      padding: 5px;
      width: 250px;
    }

    &__message {
      padding: 5px 10px;
      width: 600px;
      height: 250px;
    }
  }

  &_submit {
    display: block;
    float: left;
    width: min-content;
    height: min-content;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(13, 161, 38);
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
  }

  &_block {
    display: block;
    width: 100%;
    height: min-content;
    float: left;

    & + & {
      margin-top: 30px;
    }
  }
}
