@use '../../styles/variables.scss' as *;

.container {
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  background: transparent;
  list-style-type: none;
  @include alignRight;
  animation-duration: $animationDurationPrimary;
  animation-timing-function: ease-in;

  @media (orientation: portrait) {
    display: none;
  }
}

.item {
  display: block;
  position: relative;
  cursor: pointer;

  & + & {
    margin-top: rl(22.5px);
  }
}

// $colorCurrent: #2321b0;
$colorCurrent: $blueMedium;
$colorPrevious: $greyPrimary;
$normalSize: rl(15px);
$biggerSize: rl(18.75px);

@keyframes current {
  from {
    background-color: $colorPrevious;
  }

  to {
    background-color: $colorCurrent;
  }
}

@keyframes previous {
  from {
    background-color: $colorCurrent;
  }

  to {
    background-color: $colorPrevious;
  }
}

.dot {
  display: block;
  width: $normalSize;
  height: $normalSize;
  border-radius: 50%;
  background-color: $colorPrevious;

  &__current {
    animation-name: current;
    animation-timing-function: linear;
    animation-duration: $animationDurationPrimary;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__previous {
    animation-name: previous;
    animation-timing-function: linear;
    animation-duration: $animationDurationPrimary;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}