@use '../../styles/variables.scss' as *;

.container {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 10vh;
  right: 2.5vh;
  opacity: 0;
  cursor: pointer;
  width: rp(90px);
  animation-duration: $animationDurationPrimary;
}

@media (orientation: portrait) and (max-width: $hamburgerBreakpoint) {
  .container {
    display: block;
  }

  .caret {
    display: block;
    width: 100%;

    & + & {
      margin-top: 3vh;
    }
  }
}

