@use '../../styles/variables.scss' as *;

.container {
  display: block;
  position: relative;
  float: left;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to top right, #2193b0, #6dd5ed46);
  // background-image: linear-gradient(to top right, rgba(124, 145, 190, 0.8) 40%, 70%, white);
}