@use '../../../../styles/variables.scss' as *;

$marginL: rl(100px);
.contentContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin-left: calc(#{$marginL} * -1);
  width: calc(100% + #{$marginL} * 2);
}

.icon {
  display: block;
  z-index: 1000;
  height: 10vh;
  cursor: pointer;
  margin: 0 $marginL;
  margin-bottom: calc(#{$marginL} / 2);
}

@media (orientation: portrait) {
  $marginP: rp(60px);
  .icon {
    margin: 0 $marginP calc(#{$marginP} / 2) $marginP;
  }

  .contentContainer {
    justify-content: center;
    margin-left: calc(#{$marginP} * -1);
    width: calc(100% + #{$marginP} * 2);
  }
}