@use '../../../../styles/variables.scss' as *;

$marginL: rl(100px);
.contentContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: calc(#{$marginL} * -1);
  width: calc(100% + #{$marginL} * 2);
}

.icon {
  display: block;
  z-index: 1000;
  height: 10vh;
  cursor: pointer;
  margin: 0 $marginL;
  margin-bottom: calc(#{$marginL} / 2);
  transition: all 0.3s;

  $factor: 1.1;
  &_0 {
    height: 10vh * $factor;
  }

  &_1 {
    height: 8vh * $factor;
  }

  &_2 {
    height: 6vh * $factor;
  }

  &_3 {
    height: 5vh * $factor;
  }

  &_4 {
    height: 4vh * $factor;
  }

  &:hover {
    transform: scale(1.4,1.4);
  }
}

@media (orientation: portrait) {
  $marginP: rp(60px);
  .icon {
    margin: 0 $marginP calc(#{$marginP} / 2) $marginP;
  }

  .contentContainer {
    justify-content: center;
    margin-left: calc(#{$marginP} * -1);
    width: calc(100% + #{$marginP} * 2);
  }
}