.contentContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  max-width: 1440px;
}

.icon {
  z-index: 1000;
  height: 7.5vh;
  filter: grayscale(100%);
  cursor: pointer;

  &:hover {
    filter: none;
  }
}