@use '../../../../styles/variables.scss' as *;

$projectWidth: 400px;
$rowElementCount: 3;
$margin: 80px;

.contentContainer {
  display: flex;
  float: left;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  width: ($projectWidth + $margin) * $rowElementCount;

  & > div {
    width: $projectWidth;
    height: $projectWidth;
    margin: 0 $margin $margin 0;
  }
}

.title {
  margin-top: 80px;
}