.container {
  display: block;
}

.technology { 
  display: block;
  width: 100%;
  float: left;
  height: min-content;
  
  & + & {
    margin-top: 50px;
  }
}

.subtitle {
  display: block;
  float: left;
  width: max-content;
  height: 50px;

  &_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &_text {
    display: inline-block;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 500;
    width: min-content;
    height: min-content;
    vertical-align: bottom;
  }
}

.content {
  display: block;
  width: 100%;
  float: left;
  height: min-content;
  margin-top: 30px;
}