@use '../../../../styles/animation.scss';

.container {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photoContainer {
  display: block;
  opacity: 0;
  width: 45vh;
  height: 60vh;
  position: absolute;
  top: 47.5%;
  left: 40%;
  transform: translate(-100%, -60%);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.photo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 15px 15px 15px #0c89a8;
}

.textContainer {
  display: block;
  width: min-content;
  height: min-content;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(0, -100%);
}

.title {
  margin-bottom: 60px;
  width: max-content;
  display: block;
  font-weight: 600;
  font-size: 70px;
}

.description {
  font-size: 54px;
  width: max-content;
  margin: auto;
  display: block;
  float: none;
}

.arrowDown {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,0);
  fill: white;
  animation-fill-mode: both;
}