@use '../../../../styles/animation.scss';
@use '../../../../styles/variables.scss' as *;

.container {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.photoContainer {
  display: block;
  opacity: 0;
  width: 45vh;
  height: 60vh;
  position: absolute;
  top: 47.5%;
  left: 40%;
  transform: translate(-100%, -60%);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.photo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 30px 30px 15px $shadowPrimary;
}

.textContainer {
  display: block;
  width: min-content;
  height: min-content;
  position: absolute;
  top: 32%;
  left: 50%;
}

.title {
  width: max-content;
  display: block;
  font-weight: 700;
  font-size: 92px;
  color:  $blueHeavy;
  text-shadow: 30px 30px 15px rgb(63, 114, 127);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: max-content;
  margin: auto;
}

.description {
  font-size: 68px;
  font-weight: 600;
  font-style: italic;
  display: block;
  color: white;
}

.arrowDown {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,0);
  animation-fill-mode: both;
}