@use '../../../../styles/animation.scss';
@use '../../../../styles/variables.scss' as *;

//global

$referenceLandscapeHeight: 1009px;
$referenceLandscapeWidth: 1450px;

@function rLandscapeSize($size) {
  @return responsiveSize($size, $referenceLandscapeHeight, $referenceLandscapeWidth);
}

$referencePortraitHeight: 2048px;
$referencePortraitWidth: 1536px;

@function rPortraitSize($size) {
  @return responsiveSize($size, $referencePortraitHeight, $referencePortraitWidth);
}

.tag {
  display: block;
  position: relative;
  font-family: 'Caveat', cursive;
  width: min-content;
  height: rLandscapeSize(30px);
  line-height: rLandscapeSize(30px);
  font-weight: 400 !important;
  font-size: rLandscapeSize(22.5px) !important;
  color: white !important;
}

//content

.container {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.photoContainer {
  display: block;
  opacity: 0;
  width: min(45vh, 45vw * 0.75);
  height: min(60vh, 60vw * 0.75);
  position: absolute;
  top: 47.5%;
  left: 40%;
  transform: translate(-100%, -60%);
  animation-timing-function: ease-in;
  animation-fill-mode: both;

  &::before {
    @extend .tag; 
    position: absolute;
    content: "<img/>";
    top: rLandscapeSize(-37.5px);
    left: 0;
  }
}

.photo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: rLandscapeSize(7.5px);
  overflow: hidden;
  box-shadow: rLandscapeSize(22.5px) 
    rLandscapeSize(22.5px) 
    rLandscapeSize(11.25px) 
    $shadowPrimary;
}

.textContainer {
  display: block;
  width: min-content;
  height: min-content;
  position: absolute;
  top: 32%;
  left: 50%;
}

.title {
  width: max-content;
  display: block;
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: rLandscapeSize(69px);
  color:  $blueHeavy;
  text-shadow: rLandscapeSize(22.5px) 
    rLandscapeSize(22.5px) 
    rLandscapeSize(11.25px) 
    rgb(63, 114, 127);

  &:last-child {
    height: 1px;
    margin-bottom: rLandscapeSize(35px);
  }

  &::before {
    display: block;
    @extend .tag;
    position: absolute;
    content: "<h1>";
    left: rLandscapeSize(-7.5px);
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &::after {
    display: block;
    @extend .tag; 
    position: absolute;
    content: "</h1>";
    right: rLandscapeSize(-7.5px);
    top: 50%;
    transform: translate(100%, -50%);
  }
}

.writtenTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: max-content;
  margin: auto;
}

.description {
  font-size: rLandscapeSize(51px);
  font-weight: 600;
  font-style: italic;
  display: block;
  color: white;
  float: left;
  position: relative;
  line-height: 1.7;

  &:last-child {
    height: 1px;
  }

  &::before {
    @extend .tag;
    position: absolute;
    content: "<p>";
    left: rLandscapeSize(-7.5px);
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &::after {
    @extend .tag;
    position: absolute;
    content: "</p>";
    right: rLandscapeSize(-7.5px);
    top: 50%;
    transform: translate(100%, -50%);
  }
}

.arrowDown {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,0);
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  &_icon {
    width: rLandscapeSize(56px);
    height: rLandscapeSize(56px);
  }
}

//******************************************************************
//******************************************************************
//portait screen


@media (orientation: portrait) {
  $tagFactor: 60px;
  $tagDistance: -30px;
  .tag {
    height: rPortraitSize($tagFactor);
    line-height: rPortraitSize($tagFactor);
    font-size: rPortraitSize($tagFactor * 0.75) !important;
  }

  $photoSize: 90;
  $photoFactor: 0.4;
  .photoContainer {
    top: 22.5%;
    left: 50%;
    transform: translate(-50%);
    width: min(calc(#{$photoSize} * 1vw), calc(#{$photoSize} * #{$photoFactor} * 1vh));
    height: min(calc(#{$photoSize} * (4/3) * 1vw), calc(#{$photoSize} * (4/3) * #{$photoFactor} * 1vh));

    &::before {
      top: rPortraitSize(-60px);
      left: 0;
    }
  }

  .photo {
    border-radius: rPortraitSize(7.5px);
    box-shadow: rPortraitSize(22.5px) 
      rPortraitSize(22.5px) 
      rPortraitSize(11.25px) 
      $shadowPrimary;
  }

  .textContainer {
    top: 10%;
    transform: translate(-50%);
  }

  
  .title {
    font-size: rPortraitSize(130px);
    text-shadow: rPortraitSize(22.5px) 
      rPortraitSize(22.5px) 
      rPortraitSize(11.25px) 
      rgb(63, 114, 127);

    &:last-child {
      height: 1px;
      margin-bottom: 60vh;
    }

    &::before {
      left: rPortraitSize($tagDistance);
      top: 50%;
      transform: translate(-100%, -50%);
    }

    &::after {
      right: rPortraitSize($tagDistance);
      top: 50%;
      transform: translate(100%, -50%);
    }
  }

  .description {
    font-size: rPortraitSize(80px);
    &:last-child {
      height: 1px;
    }

    &::before {
      left: rPortraitSize($tagDistance);
      top: 50%;
      transform: translate(-100%, -50%);
    }

    &::after {
      right: rPortraitSize($tagDistance);
      top: 50%;
      transform: translate(100%, -50%);
    }
  }

  .arrowDown {
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);

    &_icon {
      width: rPortraitSize(100px);
      height: rPortraitSize(100px);
    }
  }
}