.container {
  display: block;
}

.person {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  float: left;

  &_photo {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
  }

  &_description {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 40px;
    float: left;
    width: min-content;
    height: 100%;
    position: relative;

    & > div {
      display: block;
      width: max-content;
      height: 40px;
      line-height: 40px;
      font-size: 26px;
    }
  }
}

.paragraph {
  display: block;

  width: max-content;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  height: min-content;
  line-height: 1.5;
  margin-top: 50px;
}