@use '../../../../styles/variables.scss' as *;

$imageScale: 0.8;
$imageWidth: 400px;
$imageSize: $imageScale * $imageWidth;

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.company {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  float: left;

  & + & {
    margin-top: 50px;
  }

  &_imageContainer {
    display: block;
    width: $imageSize;
  }


  &_image {
    display: block;
    position: relative;
    margin: auto;
    max-width: 100%;
    height: 342px * $imageScale;
    width: $imageSize;
    border-radius: $borderRadiusPrimary;
    @extend .boxShadowPrimary;
    
    &__flowmon {
      
    }

    &__idsa {
    }
  }

  $marginLeft: 150px;
  &_content {
    display: block;
    width: calc(100% - #{$imageSize} - #{$marginLeft});
    margin-left: $marginLeft;
    height: min-content;
  }

  &_line {
    display: block;
    float: left;
    width: 100%;
    height: min-content;

    & + & {
      margin-top: 30px;
    }
  }

  &_title {
    display: block;
    line-height: 30px;
    float: left;
    line-height: 1.5;
    font-size: 38px;
    height: 30px;
    font-weight: 600;
    width: 200px;
    color: $blueHeavy; 
  }

  &_text {
    display: block;
    float: left;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 600;
    width: calc(100% - 200px);
    height: min-content;
    text-align: justify;
    color: white;
  }
}