@use '../../../../styles/variables.scss' as *;

$imageScale: 0.8;
$imageWidth: rl(300px);
$imageSize: calc(#{$imageScale} * #{$imageWidth});

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.company {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  float: left;

  & + & {
    margin-top: rl(37.5px);
  }

  &_imageContainer {
    display: block;
    width: $imageSize;
  }


  &_image {
    display: block;
    position: relative;
    margin: auto;
    max-width: 100%;
    height: calc(#{rl(342px)} * #{$imageScale} * 0.75);
    width: $imageSize;
    border-radius: $borderRadiusPrimary;
    @extend .boxShadowPrimary;
    
    &__flowmon {
      
    }

    &__idsa {
    }
  }

  $marginLeft: calc(#{rl(137.5px)} * 0.75);
  &_content {
    display: block;
    width: calc(100% - #{$imageSize} - #{$marginLeft});
    margin-left: $marginLeft;
    height: min-content;
  }

  &_line {
    display: block;
    float: left;
    width: 100%;
    height: min-content;

    & + & {
      margin-top: rl(22.5px);
    }
  }

  $titleWidth: rl(150px);
  &_title {
    display: block;
    line-height: rl(22.5px);
    float: left;
    line-height: 1.5;
    font-size: rl(28.5px);
    height: rl(22.5px);
    font-weight: 600;
    width: $titleWidth;
    color: $blueHeavy; 
  }

  &_text {
    display: block;
    float: left;
    font-size: rl(28.5px);
    line-height: 1.5;
    font-weight: 600;
    width: calc(100% - #{$titleWidth});
    height: min-content;
    text-align: justify;
    color: white;
  }
}