@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: min-content;
}

.text {
  display: block;
  width: 65%;
  height: min-content;
  text-align: justify;
  font-size: rsl(28.5px);
  font-weight: 600;
  line-height: 1.5;
  color: white;
}

.description {
  display: block;
  width: 40%;
  height: max-content;

  &_photo {
    display:block;
    height: rsl(195px);
    width: rsl(148.2px);
    border-radius:  $borderRadiusPrimary;
    overflow: hidden;
  }

  &_infoContainer {
    display: block;
    margin-top: rsl(37.5px);
    width: max-content;
    height: min-content;
    font-weight: 600;
    color:  $blueHeavy;
    font-size: rsl(25.5px);
    white-space: nowrap;
    font-style: italic;
  }

  &_name {
    display: block;
    margin-bottom: rsl(15px);
  }
}

@media (orientation: portrait) {
  .text {
    display: block;
    width: 65%;
    height: min-content;
    text-align: justify;
    font-size: rsp(28.5px);
  }
  
  .description {
    display: block;
    width: 40%;
    height: max-content;
  
    &_photo {
      display:block;
      height: rsp(195px);
      width: rsp(148.2px);
      border-radius:  $borderRadiusPrimary;
      overflow: hidden;
    }
  
    &_infoContainer {
      display: block;
      margin-top: rsp(37.5px);
      width: max-content;
      height: min-content;
      font-weight: 600;
      color:  $blueHeavy;
      font-size: rsp(25.5px);
      white-space: nowrap;
      font-style: italic;
    }
  
    &_name {
      display: block;
      margin-bottom: rsp(15px);
    }
  }
}
