@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: min-content;
}

.text {
  display: block;
  width: 65%;
  height: min-content;
  text-align: justify;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
  color: white;
}

.description {
  display: block;
  width: 40%;
  height: max-content;

  &_photo {
    display:block;
    height: 260px;
    width: 197.6px;
    border-radius:  $borderRadiusPrimary;
    overflow: hidden;
  }

  &_infoContainer {
    display: block;
    margin-top: 50px;
    width: max-content;
    height: min-content;
    font-size: 30px;
    font-weight: 600;
    color:  $blueHeavy;
    font-size: 34px;
    white-space: nowrap;
    font-style: italic;
  }

  &_name {
    display: block;
    margin-bottom: 20px;
  }
}
