@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: min-content;
}

.text {
  display: block;
  width: 65%;
  height: min-content;
  text-align: justify;
  font-size: rl(28.5px);
  font-weight: 600;
  line-height: 1.5;
  color: white;
}

.description {
  display: block;
  width: 40%;
  height: max-content;

  &_photo {
    display:block;
    position: relative;
    height: rl(195px);
    width: rl(148.2px);
    border-radius:  $borderRadiusPrimary;
    overflow: hidden;
  }

  &_infoContainer {
    display: block;
    margin-top: rl(37.5px);
    width: max-content;
    height: min-content;
    font-weight: 600;
    color:  $blueHeavy;
    font-size: rl(25.5px);
    white-space: nowrap;
    font-style: italic;
  }

  &_name {
    display: block;
    margin-bottom: rl(15px);
  }
}

@media (orientation: portrait) {
  .contentContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: min-content;
  }
  
  .text {
    display: block;
    width: 100%;
    height: min-content;
    text-align: justify;
    font-size: rp(40px);
    margin-top: 5vh;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    height: max-content;
  
    $photoFactor: 1.5;
    &_photo {
      display: block;
      height: rp(195px * $photoFactor);
      width: rp(148.2px * $photoFactor);
      border-radius:  $borderRadiusPrimary;
      overflow: hidden;
    }
  
    &_infoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rp(37.5px);
      width: max-content;
      height: min-content;
      font-weight: 600;
      color:  $blueHeavy;
      font-size: rp(28px);
      white-space: nowrap;
      font-style: italic;
    }
  
    &_name {
      display: block;
      margin-bottom: rp(15px);
    }
  }
}
