@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

$offset: 100px;
$duration: 0.8s;
$delay: 0.65s;

@keyframes inDown {
  from {
    opacity: 0;
    transform: translate(-50%,calc(50vh - 50% - #{$offset}));
  }

  to {
    opacity: 1;
    transform: translate(-50%,calc(50vh - 50%));
  }
}

@keyframes outDown {
  from {
    opacity: 1;
    transform: translate(-50%,calc(50vh - 50%));
  }

  to {
    opacity: 0;
    transform: translate(-50%,calc(50vh - 50% + #{$offset}));
  }
}

@keyframes inUp {
  0% {
    opacity: 0;
    transform: translate(-50%,calc(50vh - 50% + #{$offset}));
  }

  30% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
    transform: translate(-50%,calc(50vh - 50%));
  }
}

@keyframes outUp {
  0% {
    opacity: 1;
    transform: translate(-50%,calc(50vh - 50%));
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translate(-50%,calc(50vh - 50% - #{$offset}));
  }
}

//animation

.animation {
  animation-fill-mode: both;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  will-change: transform, opacity;
}

.animationInDown {
  @extend .animation;
  animation-delay: $delay;
  animation-name: inDown;
}

.animationOutDown {
  @extend .animation;

  animation-name: outDown;
}

.animationInUp {
  @extend .animation;
  animation-delay: $delay;
  animation-name: inUp;
}

.animationOutUp {
  @extend .animation;

  animation-name: outUp;
}