@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(-50%, -100px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.fadeAnimation {
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.fadeIn {
  @extend .fadeAnimation;
  animation-name: fadeIn;
}

.fadeOut {
  @extend .fadeAnimation;
  animation-name: fadeOut;
}

.fadeInDown {
  @extend .fadeAnimation;
  animation-name: fadeInDown;
  will-change: opacity, transform;
}

//pageAnimation

$offset: 100px;
$duration: 0.8s;
$delay: calc(#{$duration} * 0.8);
$maxOffsetTop: 25vh;

@keyframes inDown {
  from {
    opacity: 0;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }

  to {
    opacity: 1;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }
}

@keyframes outDown {
  0% {
    opacity: 1;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }

  99% {
    opacity: 0;
    transform: translate(-50%,calc(min(calc(50vh - 50%), #{$maxOffsetTop}) + #{$offset}));
  }

  100% {
    opacity: 0;
    transform: translate(-50%,-100%);
  }
}

@keyframes inUp {
  0% {
    opacity: 0;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }

  30% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }
}

@keyframes outUp {
  0% {
    opacity: 1;
    transform: translate(-50%,min(calc(50vh - 50%), #{$maxOffsetTop}));
  }

  70% {
    opacity: 0.5;
  }

  99% {
    opacity: 0;
    transform: translate(-50%,calc(min(calc(50vh - 50%), #{$maxOffsetTop}) - #{$offset}));
  }

  100% {
    opacity: 0;
    transform: translate(-50%,-100%);
  }
}

//animation

.pageAnimation {
  animation-fill-mode: both;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  will-change: transform, opacity;
}

.animationInDown {
  @extend .pageAnimation;
  animation-delay: $delay;
  animation-name: inDown;
  z-index: 1 !important;
}

.animationOutDown {
  @extend .pageAnimation;

  animation-name: outDown;
  z-index: 1 !important;
}

.animationInUp {
  @extend .pageAnimation;
  animation-delay: $delay;
  animation-name: inUp;
  z-index: 1 !important;
}

.animationOutUp {
  @extend .pageAnimation;

  animation-name: outUp;
  z-index: 1 !important;
}