@use './animation.scss';
@use './variables.scss' as *;
@use './spiner.scss';
@use '../node_modules/normalize.css/normalize.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

.section {
  display: block;
  position: absolute;
  background: transparent;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -10;
  height: min-content;
  width: $sectionWidth;

  @media (orientation: landscape) {
    max-width: 150vh;
  }
}

.display {
  opacity: 1 !important;
  display: block !important;
}

.sectionTitle {
  display: block;
  width: 100%;
  height: min-content;
  margin-bottom: rl(45px);

  @media (orientation: portrait) {
    margin-bottom: rp(45px);
  }

  &_content {
    display: block;
    width: max-content;
    height: min-content;
    position: relative;
    width: max-content;
    font-weight: 700;
    font-size: rl(69px);
    color: $blueHeavy;
    text-shadow: rl(15px) rl(15px) rl(7.5px) rgba(63, 114, 127, 0.5);

    @media (orientation: portrait) {
      margin: auto;
      font-size: rp(90px);
      text-shadow: rp(20px) rp(20px) rp(10px) rgba(63, 114, 127, 0.5);
    }
  }
}
