@use './animation.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  &:focus {
    outline: none;
  }
}

.tag {
  display: block;
  position: relative;
  font-family: 'Caveat', cursive;
  width: min-content;
  height: 40px;
  line-height: 40px;
  font-weight: 400 !important;
  font-size: 30px !important;
}

.section {
  display: block;
  position: absolute;
  background: transparent;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  width: max-content;
  height: min-content;
}

.display {
  opacity: 1;
  display: block;
}

.sectionTitle {
  display: block;
  width: 100%;
  height: min-content;
  margin-bottom: 80px;

  &_content {
    display: block;
    width: max-content;
    height: min-content;
    position: relative;
    font-size: 60px;
    font-weight: 600;
    margin: auto;

    &::before {
      @extend .tag; 
      position: absolute;
      content: "<h2>";
      left: -10px;
      top: 50%;
      transform: translate(-100%, -50%);
    }

    &::after {
      @extend .tag; 
      position: absolute;
      content: "</h2>";
      right: -10px;
      top: 50%;
      transform: translate(100%, -50%);
    }

    &__main {
      &::before {
        content: "<h1>";
      }

      &::after {
        content: "</h1>";
      }
    }
  }
}

.image {
  display: block;
  position: relative;

  &::before {
    @extend .tag; 
    position: absolute;
    content: "<img/>";
    top: -50px;
    left: 0;
  }
}

.paragraph{
  display: block;
  float: left;
  position: relative;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 500;

  &::before {
    @extend .tag; 
    position: absolute;
    content: "<p>";
    left: -10px;
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &::after {
    @extend .tag; 
    position: absolute;
    content: "</p>";
    right: -10px;
    top: 50%;
    transform: translate(100%, -50%);
  }
}