@use "sass:math";

//colors
$blueHeavy: #0f2a66;
$blueMedium: #113d9c;

$shadowPrimary: rgb(63, 114, 127);

$greyPrimary: rgb(150,150,150);

$errorColor: rgb(255, 123, 0);

//others
$borderRadiusPrimary: 4px;

//3d text
@mixin threedshadow($color, $depth) {
  $all: ();
  @for $i from 1 through $depth {
    $all: append($all, append($i*1px $i*1px 0, $color), comma);
  }
  text-shadow: $all;
}