@use '../../../../styles/variables.scss' as *;

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: auto;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  opacity: 0;
  animation-duration: 2s;

  &[id*='experience'] {
    animation-duration: 0s;
  }

  &[id*='programming'] {
    animation-duration: 1s;
  }

  &_number {
    display: block;
    width: max-content;
    margin-top: rl(7.5px);
    color: white;
    text-shadow: rl(0px) rl(0px) rl(7.5px) $blueMedium;
    font-weight: 700;
    font-size: rl(60px);
  }

  &_unit {
    display: block;
    width: min-content;
    margin-top: rl(11.25px);
    font-weight: 600;
    font-size: rl(45px);
    color: $blueMedium;
  }

  &_description {
    display: block;
    width: 100%;
    min-width: rl(150px);
    margin-top: rl(11.25px);
    font-weight: 500;
    font-size: rl(24px);
    text-align: center;
    color: white;
    font-style: italic;
  }
}

@media (orientation: portrait) {
  .contentContainer {
    display: block;
    position: relative;
    height: 50vh;
    width: 100%;
    margin: auto;
  }
  
  .stat {
    position: absolute;

    &__experience {
      top: 0;
      left: 0;
    }

    &__programming {
      top: 10%;
      right: 10vw;
    }

    &__typing {
      top: 60%;
      left: 10vw;
    }

    &__lines {
      top: 80%;
      right: 0%;
    }

    &_number {
      display: block;
      width: max-content;
      margin-top: rp(7.5px * 1.5);
      color: white;
      text-shadow: rp(0px * 1.5) rp(0px * 1.5) rp(7.5px * 1.5) $blueMedium;
      font-weight: 700;
      font-size: rp(60px * 1.5);
    }
  
    &_unit {
      display: block;
      width: min-content;
      margin-top: rp(11.25px * 1.5);
      font-weight: 600;
      font-size: rp(45px * 1.5);
      color: $blueMedium;
    }
  
    &_description {
      display: block;
      width: 100%;
      min-width: rp(150px * 1.5);
      margin-top: rp(11.25px * 1.5);
      font-weight: 500;
      font-size: rp(24px * 1.5);
      text-align: center;
      color: white;
      font-style: italic;
    }
  }
}