.project {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  padding: 40px 20px;
  margin: 0 80px 80px 0;
  border-radius: 5px;
  background-color: white;
  // background: linear-gradient(45deg, white 5%, rgba(109, 69, 173, 0) 100%);
  // box-shadow: 30px 30px 15px #3f727f;
  
  $width: 30px;

  &::before {
    display: block;
    content: "";
    background-color: #3f727f;
    position: absolute;
    left: 0;
    width: calc(100% + $width);
    height: $width;
  }

  &_title {
    display: block;
    font-size: 38px;
    font-weight: 600;
  }

  &_wip {
    display: block;
    position: absolute;
    top: -20px;
    right: -10px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    
    border-radius: 50%;
    background-color: rgb(21 141 238);

    text-align: center;
    font-weight: 500;
    font-size: 26px;
  }

  &_toolContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  &_toolTitle {
    display: block;
    font-size: 28px;
    font-weight: 400;
    margin-left: 20px;
  }

  &_toolList {
    display: flex;
    margin-left: 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    height: 100%;
  }

  &_toolIcon {
    display: block;
    height: 40px;

    & + & {
      margin-left: 20px;
    }
  }

  &_description {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 26px;
    margin-top: 30px;
    width: calc(100% - 40px);
  }

  &_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: min-content;
  }

  &_repositoryLink {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  &_githubIcon {
    display: block;
    width: 100%;
    height: 100%;
  }

  &_demoLink {
    display: block;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
  }
}