@use '../../../../../../styles/variables.scss' as *;

.project {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: rl(30px) rl(20px);
  background-color: white;
  color: $blueHeavy;
  overflow: hidden;
  @extend .boxShadowPrimary;

  &:nth-child(odd) {
    background-color: $blueHeavy;
    color: white;
  }

  &_title {
    display: block;
    font-size: rl(28.5px);
    font-weight: 800;
    @include threedshadow(rgba(63, 114, 127, 0.3), 5);

    &:nth-child(odd) {
      font-weight: 700;
      @include threedshadow(rgba(63, 114, 127, 0.5), 5);
    }
  }

  &__wip {
    background-color: none;
    background: linear-gradient(45deg, white 85%, $blueHeavy 85%);
  }

  &_wip {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: rl(52.5px);
    height: rl(52.5px);
    line-height: rl(52.5px);
    color: white;

    text-align: center;
    font-weight: 500;
    font-size: rl(19.5px);
  }

  &_toolContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: rl(22.5px);
  }


  &_toolList {
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
  }

  &_toolIcon {
    display: block;
    height: rl(30px);

    & + & {
      margin-left: rl(15px);
    }
  }

  &_description {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: rl(22.5px);
    margin-top: rl(22.5px);
    width: calc(100% - rl(30px));
    font-style: italic;
  }

  $linksSize: rl(90px);
  $linksTransform: translate(-50%, -50%) scale(0.3, 0.3);

  &::before {
    z-index: 10;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $linksTransform;
    background-color: rgba(214, 192, 192, 0.5);
    width: $linksSize;
    height: $linksSize;
    border-radius: 50%;
    transition: all 0.2s;
    opacity: 0;
  }

  &:hover > &_links {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(5, 5);
    opacity: 1;
  }

  &_links {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $linksTransform;
    width: $linksSize;
    height: $linksSize;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
  }

  &_repositoryLink {
    display: block;
    width: rl(30px);
    height: rl(30px);
  }

  &_githubIcon {
    display: block;
    width: 100%;
    height: 100%;
  }

  &_demoLink {
    display: block;
    margin-top: rl(15px);
    cursor: pointer;
    font-weight: 600;
    font-size: rl(16px);
    color: $blueHeavy;
  }
}