@use '../../styles/variables.scss' as *;

.container {
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 5vh;
  @include alignRight;
  z-index: 10000;
  background: transparent;
  
  animation-duration: $animationDurationPrimary;
  animation-timing-function: ease-in;
}

.hamburger {
  display: none;
}

.item {
  display: block;
  width: max-content;
  font-size: rl(24px);
  font-weight: 600;
  cursor: pointer;  
  color: $greyPrimary;

  & + & {
    margin-left: rl(37.5px);
  }

  &:hover {
    color: rgb(13, 36, 87); 
  }
}

$hamburgerBreakpoint: 600px;
@media (orientation: portrait) {
  .container {
    align-items: flex-start;
    justify-content: space-between;
    top: 5vh;
    right: 5vw;
    width: 60vw;
    min-width: $hamburgerBreakpoint * 0.9;
  }
  
  .item {
    font-size: max(2.5vw, #{$hamburgerBreakpoint} / 30);
  }

  @media only screen and (max-width: $hamburgerBreakpoint - 1px) {
    .hamburger {
      display: block;
      opacity: 0;
      animation-duration: $animationDurationPrimary;
      animation-timing-function: ease-in;
      position: fixed;
      top: 2.5vh;
      right: 2.5vh;
      width: 45px;
      height: 30px;

      & > span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 20%;
        background-color: $greyPrimary;
        transition: all 0.3s ease;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          bottom: 0;
        }
      }

      &__open > span {
        background-color: $blueHeavy;
        width: 80%;

        &:first-child {
          transform: rotate(-45deg);
          transform-origin: top right;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(45deg);
          transform-origin: bottom right;
        }
      }
    }

    .container {
      display: none;
    }
  }
}