@use '../../styles/variables.scss' as *;

.container {
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 5vh;
  right: 5vh;
  z-index: 10000;
  background: transparent;
  
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.item {
  display: block;
  width: max-content;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;  
  color: $greyPrimary;

  & + & {
    margin-left: 37.5px;
  }

  &:hover {
    color: rgb(13, 36, 87); 
  }
}